<div class="container ">
  <div class="row">
    <div class="col-12">
      <div class="card " *ngFor="let item of applications">
        <div class="px-2 py-2">
          <img
            class="card-img-top"
            src="{{ item.photo }}"
            *ngIf="item.photo"
            alt="Card image cap"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">
            {{ item.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
