<div class="container p-3">
    <div class="row">
        <div class="col-md-2"></div> 
        <div class="col-md-8">
            <h3>Підтримати Tells</h3>
            <span>Tells – некомерційний проект. Якщо ви бажаєте долучитися до збереження навколишнього середовища, підтримайте наш проект фінансово.</span>
            <br>
            <button type="button" class="btn btn-success mt-2 mb-2">Підтримати</button>
            <h3>Призначення:</h3>
            <span>Добровільна пожертва на здійснення статутної діяльності...</span>
            <h3>Адреса:</h3>
            <span>...</span>
        </div> 
        <div class="col-md-2"></div> 
    </div>
    
</div>