<div class="container p-3">
        <div class="row">
            <div class="col-md-2"></div> 
            <div class="col-md-8">
                <h3>Про проект</h3>
                <span>.............................</span>
                
                <h3>Зв’язатися з нами</h3>
                <span>Ми завжди відкриті до співпраці і нових ідей та будемо раді отримати ваші відгуки стосовно нашої роботи:</span>
                
            </div> 
            <div class="col-md-2"></div> 
        </div>
</div>