/* You can add global styles to this file, and also import other style files */
@import "bootstrap";
@import "leaflet/dist/leaflet.css";
.cover {
  background: url(./assets/home.jpeg);
  height: 91vh;
  background-size: cover;
  background-position-y: center;
}
.navbar {
  height: 7vh;
  font-size: 1.25em;
  .navbar-nav {
    .nav-link {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}
.navbar-brand {
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
}
